.tag {
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.1rem;
    background-color: hsl(0, 0%, 85%);
    display: flex;
}
.tag:hover {
    cursor: pointer;
    background-color: hsl(0, 50%, 80%);
}

.tag__x {
    display: flex;
    align-items: flex-end;
    margin-top: 0.1rem;
}