.task {
  background-color: hsl(0, 0%, 95%);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem hsl(0, 0%, 10%, 0.2);
  width: 100%;
  box-sizing: border-box;
}

.task__body {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.task__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  position: relative;
}

.task__header h4 {
  margin: 0;
  font-size: 1.7rem;
  width: 100%;
}

.task-header__delete-button-container {
  position: absolute;
  top: 0;
  right: 0;
}

.task__header--x:hover {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.task__body--textarea {
  resize: none;
}

.task textarea {
  width: 95%;
}

.task--blue {
  background-color: hsl(var(--blue), 50%, 94%);
}
.task--green {
  background-color: hsl(var(--green), 50%, 94%);
}
.task--cyan {
  background-color: hsl(var(--cyan), 50%, 94%);
}
.task--peach {
  background-color: hsl(var(--peach), 50%, 94%);
}
.task--magenta {
  background-color: hsl(var(--magenta), 50%, 94%);
}

.Task__buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem;
}
