.task {
  background-color: hsl(0, 0%, 95%);
  margin-bottom: 0.5rem;
  display: flex;
  box-shadow: 0 0 1rem hsl(0, 0%, 10%, 0.2);
  width: 100%;
}

.task__body {
  padding: 0.5rem;
  width: 100%;
}

.task__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.task__header h4 {
  margin: 0;
  font-size: 1.7rem;
}

.task__header--x:hover {
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.task__body--textarea {
  resize: none;
}

.task textarea {
  width: 95%;
}
