.project__board {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.project__toolbar {
    padding: 0.5rem;
    display: flex;
    background-color: hsl(220, 20%, 97%);
    justify-content: center;
}

.project__toolbar--filter input {
    height: 1.2rem;
}
.project__toolbar--filter label {
    font-family: 'Varela Round', sans-serif;
}

.project__toolbar--share {
    margin-left: 1rem;
    display: flex;
}
.project__toolbar--share input {
    height: 1.3rem;
    position: absolute;
    z-index: -1;
    left: -3000px;
}
.project__toolbar--share button {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.project__toolbar--color select {
    display: flex;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.project__error {
    color: red;
    text-align: center;
}

.project__toolbar--share button {
    width: 162px;
}