.project__board {
    display: flex;
    justify-content: flex-start;
}

.project__toolbar {
    padding: 0.5rem;
    display: flex;
}

.project__toolbar--filter input {
    height: 1.2rem;
}

.project__toolbar--share {
    margin-left: 1rem;
    display: flex;
}
.project__toolbar--share input {
    height: 1.3rem;
    position: absolute;
    z-index: -1;
    left: -3000px;
}
.project__toolbar--share button {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}