
.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.tags__tag {
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.1rem;
    background-color: hsl(0, 0%, 85%);
}