.DeleteButton {
    position: relative;
}

.DeleteButton__x:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.DeleteButton__confirm-box {
    position: absolute;
    right: 0;
    min-width: 10rem;
    padding: 0.4rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DeleteButton__confirm-box p {
    margin: 0;
    padding: 0;
}