.footer {
    background-color: hsl(220, 20%, 90%);
    display: flex;
    justify-content: center;
    padding: 5px;

    position: absolute;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
    height: 2.9rem;
}