.footer {
    background-color: hsl(0, 0%, 90%);
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;

    position: absolute;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
}