.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  position: absolute;
  width: 100%;
  bottom: 0px;
  box-sizing: border-box;
  height: 3.9rem;
}

.footer__source {
  display: flex;
  align-items: center;
}

.source__p {
  font-weight: bold;
  margin-bottom: 1.05rem;
  margin-right: 0.2rem;
}

.source__img {
  height: 1.5rem;
}
