.project__toolbar {
  padding: 0.5rem;
  padding-top: 0.6rem;
  display: flex;
  background-color: hsl(220, 20%, 97%);
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: auto;
  width: 100vw;
  height: 2.7rem;
  top: 0;
  box-sizing: border-box;
}
.toolbar__logo {
  flex: 0;
}

.toolbar__tools {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar__h1 {
  margin: 0;
}

.toolbar__invite-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.toolbar__invite-btn:hover {
  cursor: pointer;
  border: solid 2px var(--black);
}

.toolbar__spacer {
  height: 3.5rem;
}

.project__toolbar--filter input {
  height: 1.2rem;
}
.project__toolbar--filter label {
  font-family: 'Varela Round', sans-serif;
}

.project__toolbar--share {
  margin-left: 1rem;
  display: flex;
}
.project__toolbar--share input {
  height: 1.3rem;
  position: absolute;
  z-index: -1;
  left: -3000px;
}
.project__toolbar--share button {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.project__toolbar--color select {
  display: flex;
  align-items: center;
  /* font-family: 'Varela Round', sans-serif; */
  font-size: 1.2rem;
  margin-left: 1rem;
}
.project__toolbar--share button {
  width: 162px;
}
