

.nav__icon:hover {
    cursor: pointer;
    background-color: rgb(252, 252, 252);
    border-radius: 100%;
}

.nav__menu {
    list-style: none;
    padding: 0;
    background-color: hsl(220, 20%, 90%);
    position: absolute;
    top: 40px;
    right: 45px;
    text-align: center;

    width: 15rem;
    border: solid 0.5px black;
    border-radius: 2%;
}

.nav__menu li {
    padding: 1rem;
    border: solid 0.5px black;
}

.nav__menu li:hover {
    background-color: hsl(0, 0%, 99%);
    cursor: pointer;
}