

.nav__icon:hover {
    cursor: pointer;
    background-color: white;
}

.nav__menu {
    list-style: none;
    padding: 0;
    background-color: hsl(0, 0%, 92%);
    position: absolute;
    top: 40px;
    right: 45px;
    text-align: center;

    width: 15rem;
    border: solid 1px black;
    border-radius: 2%;
}

.nav__menu li {
    padding: 1rem;
    border: solid 1px black;
}

.nav__menu li:hover {
    background-color: white;
    text-decoration: underline;
    transition: background-color 0.4s;
}