

.nav__icon:hover {
    cursor: pointer;
}

.nav__menu {
    list-style: none;
    padding: 0;
    background-color: aliceblue;
    position: absolute;
    top: 40px;
    right: 25px;
    text-align: center;
}

.nav__menu li {
    padding: 1rem;
    border: solid 1px black;
}

.nav__menu li:hover {
    background-color: white;
}